<%- include header%>

  <div class="row" id=‘login’ style="margin-top:100px;">
    <div class="col-md-3"></div>
    <div class="col-md-6">

      <div class="panel panel-success">
        <div class="panel-heading">register</div>
        <div class="panel-body">
          <form data-toggle="validator" id="form" role="form" class="form-horizontal" action="/actReg" method="post">
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-4 control-label">username</label>
              <div class="col-sm-8">
                <input type="email" name='username' autocomplete='off' class="form-control" id="username" placeholder="enter username" data-error="the email address is invalid" required>
                <div class="help-block with-errors"></div>
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-4 control-label">password</label>
              <div class="col-sm-8">
                <input type="password" maxlength="15" autocomplete='off' name='password' class="form-control" id="password" placeholder="Password" required>              
              </div>
            </div>
            <div class="form-group">
                <label for="inputPassword3" class="col-sm-4 control-label">confirm password</label>
                <div class="col-sm-8">
                    <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#password" data-match-error="Whoops, these don't match" placeholder="Confirm" required>
                    <div class="help-block with-errors"></div>
                </div>
              </div>
              <div class="form-group">
                  <label for="inputEmail3" class="col-sm-4 control-label">inviter</label>
                  <div class="col-sm-8">
                    <input type="text" name='inviter' value="<%=inviter%>" id="inviter" autocomplete='off' class="form-control" placeholder="inviter">
                  </div>
                </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="button" class="btn btn-info" id="regBtn">submit</button>
              </div>
            </div>
          </form>
        </div>
        <div class="panel-footer">to       <a href="/login" style="font-size: 16px;">login</a></div>
      </div>

    </div>

  </div>



  <%- include footer%>


  <script type="text/javascript">
$("#regBtn").click(function(){
      let username = $('#username').val();
      let password = $('#password').val();
      let inviter = $('#inviter').val();
      
      $.ajax({
        type: "post",
        url: "/api/adduser",
        data: {
          username:username,
          password:password,
          inviter:inviter
        },
        dataType: "json",
        success: function(data) {
          let code = data.code;
          let msg = data.msg;
          if(code==200 || code == 100){
            alert(msg);
            location.href='/login?tip=1';
          }else{
            alert(msg);
          }

        }
      });
    });
  </script>
